@model KraujoBankasASP.Models.HealthCareInstitution

@{
    ViewData["Title"] = "AddInstitution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Naujas kraujo centro objektas</h1>

<h4>Įveskite institucijos duomenis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddInstitution">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressFK" class="control-label"></label>
                <select asp-for="AddressFK" class="form-control" asp-items="ViewBag.AddressFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/dynamicalRow.js"></script>
