@model KraujoBankasASP.ViewModels.InstitutionViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sveikatos centro koregavimas</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InstitutionUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label"> Pavadinimas </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Tipas </label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Adresas </label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> Į sąrašą </a>
</div>

