@{
    ViewData["Title"] = "Apie Mus";
}

<div class="container ">
    <h2 class="display-4 text-center  mt-3 mb-4 text-black-90 ">@ViewData["Title"]</h2>


    <div class="row justify-content-center">


        <div class="col-lg-7 mt-md-3">
            <h5>Lorem Text1</h5>
            <p class="text-justify text-black-90">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <h5>Lorem Text2</h5>
            <p class="text-justify text-black-90">
                In hac habitasse platea dictumst. Curabitur sed varius mauris. Morbi justo erat, luctus in tincidunt interdum, tristique ac libero. Quisque scelerisque, libero eget varius interdum, quam mi mattis turpis, eget pulvinar lorem nunc at quam. Pellentesque id diam ac lectus suscipit gravida eget id justo. Suspendisse in odio pretium, ultricies sapien 
            </p>
            <h5>Lorem Text2</h5>
            <p class="text-justify text-black-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod feugiat quam eu sollicitudin. Quisque finibus tellus risus, pharetra ornare lorem faucibus sit amet. Morbi feugiat feugiat arcu, gravida efficitur elit porttitor non. Ut bibendum ipsum vel leo aliquet, nec cursus sapien sollicitudin. Nam a nisi tincidunt, pharetra nisl nec, ullamcorper dolor. Aenean id leo non tellus dignissim fermentum at sed nunc. Phasellus sagittis eros consequat dui pretium, vel vehicula enim consectetur. Pellentesque ac tortor 
            </p>
        </div>
        <div class="col-lg-5 text-center d-flex align-content-center">
            <img src="~/visuals/images-main/couple-donating-blood.svg" class="rounded img-fluid" alt="couple-blood-donation" />
        </div>
    </div>
</div>
