@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="text-center  banner">
    <h1 class="display-4 ">Lorem Ipsum</h1>
    <p> <a asp-controller="Home" asp-action="InformacijaDonorui">Sužinok kaip tu gali padėti.</a></p>
</div>
