@{
    ViewData["Title"] = "Pagrindinis";
}

@*---baner---*@
<div class="text-center  banner">

    <h1 class="display-4 ">Lorem Ipsum </h1>
    <p>
        <button class="btn btn-outline-danger mt-3">Sužinok kaip gali padėti</button>
    </p>

    <h1 class="display-4 ">Lorem Test</h1>
    <p> <a asp-controller="Home" asp-action="InformacijaDonorui">Sužinok kaip gali padėti.</a></p>

</div>
<div class="text-center mt-5">
    <h2 class="display-4 text-black-90">Lorem Text</h2>
</div>
<p class="text-center mt-3 ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis? Eos earum adipisci
    totam voluptatum libero laudantium aperiam soluta ratione quisquam ea natus, a ab inventore aspernatur, magnam
    tempore cum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam facilis error ullam voluptatem,
    quod rerum debitis voluptas commodi placeat sunt adipisci a est ipsa porro quo praesentium eligendi ab repellendus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis? Eos earum adipisci   
</p>
<section class="mt-5">
    <div class="row">
        <div class="col col-xl-4 col-md-6 col-sm-6 col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9 col-9">
                            <h5 class="card-title">Registracija</h5>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <div class="card-icon1"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text mt-3">
                                With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-danger mt-5">Registruotis</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl-4 col-md-6 col-sm-6 col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9 col-9">
                            <h5 class="card-title">Prisijungimas</h5>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <div class="card-icon2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text mt-3">
                                With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-danger mt-5">Prisijungti</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl-4 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9 col-9">
                            <h5 class="card-title">Aukoti Kraują</h5>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <div class="card-icon3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text mt-3">
                                With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-danger mt-5">Toliau >>></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>