@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="text-center  banner">
    <h1 class="display-4 ">Lorem Ipsum</h1>
    <p> <a asp-controller="Home" asp-action="InformacijaDonorui">Sužinok kaip gali padėti.</a></p>
</div>
<div class="text-center mt-5">
    <h2 class="display-4 text-black-90">Lorem Text</h2>
</div>
<p class="text-center mt-3 ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis? Eos earum adipisci
    totam voluptatum libero laudantium aperiam soluta ratione quisquam ea natus, a ab inventore aspernatur, magnam
    tempore cum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam facilis error ullam voluptatem,
    quod rerum debitis voluptas commodi placeat sunt adipisci a est ipsa porro quo praesentium eligendi ab repellendus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis? Eos earum adipisci
    
</p>