@{
    ViewData["Title"] = "Informacija Donorui";
}


    <div class="container my-mt-10">
        <h1 class="display-4 text-center  mt-3 mb-3 text-black-90">@ViewData["Title"]</h1>
        <p class="text-justify">
             Use this page to detail your site's privacy wtf is what info donorui.
        </p>
    </div>