@{
    ViewData["Title"] = "Istorija";
}
    
    <div class="container my-mt-10">
        <h2 class="display-4 text-center  mt-3 mb-4 text-black-90 my-mt-5">@ViewData["Title"]</h2>


        <div class="row justify-content-center">
            <div class="col-lg-5 text-center d-flex align-content-center">
                <img src="~/visuals/images-main/blood-donation01.svg" class="rounded img-fluid" alt="blood-donation" />
            </div>

            <div class="col-lg-7 mt-md-3">
                <h5>Kaip viskas prasidėjo</h5>
                <p class="text-justify text-black-90">
                    Pirmas sėkmingas žmogaus kraujo perpylimas buvo atliktas 1818 metais, bet dėl žinių ir mokslinių tyrimų trūkumo, sekė daug nesėkmių. Vėliau nei po 80 metų, buvo atrasta, kad paveldimi žmonių raudonųjų kraujo ląstelių skirtumai buvo pagrindinės daugelio kraujo perpylimo nesuderinamumo priežastys.
                </p>
                <h5>Ką atrado mokslininkai</h5>
                <p class="text-justify text-black-90">
                    Buvo nustatytos keturios kraujo grupės – A, B, AB ir 0. Šis atradimas iš pagrindų pakeitė hematologijos (mokslo apie kraują) vystymąsi ir leido sėkmingai atlikinėti kraujo perpylimus. Kai I Pasauliniame kare sužeistiems kareiviams ypatingai reikėjo kraujo, mokslininkai pradėjo tyrinėti kraujo saugojimo ir transportavimo galimybes. Bet tai buvo įgyvendinta tik II Pasaulinio karo metu. Nuo tada buvo žengiama į priekį vis sparčiau: atrandamos Rh kraujo grupės, kraujas pradedamas laikyti plastmasiniuose maišeliuose ir t. t.
                </p>
                <h5>Spartus šuolis pirmyn</h5>
                <p class="text-justify text-black-90">
                    Kraujo ląstelių užšaldymas, skirtingų kraujo komponentų atskyrimas centrifūguojant, aferezė (vieno kraujo komponento išgavimas ir likusių gražinimas donorui) ir daugelis kitų atradimų bei techninių sprendimų įgalina visiškai panaudoti kiekvieną kraujo dovanojimą.
                </p>
                <h5>Kraujo panaudojimas</h5>
                <p class="text-justify text-black-90">
                    Kiekvienas kraujo elementas gali būti panaudojamas gydyti skirtingas ligas. Šiandieną pasaulyje plintant ŽIV, hepatitui C ir kitoms užkrečiamoms ligoms, vyriausybė atidžiai kontroliuoja kraujo tikrinimo testų kokybę, kad užtikrintų kraujo saugumą ir sumažintų su perpylimu susijusią riziką. Papildomas kraujo saugumo garantas yra neatlygintina kraujo donorystė. Žmogaus kraujas yra unikalus. Iki šiol jam nėra sukurta dirbtinio pakaitalo. Lietuvoje per metus reikia tūkstančių litrų kraujo, kad būtų išgelbėti žmonės, sergantys įvairiomis ligomis ar papuolę į avarijas.
                </p>
            </div>
        </div>
    </div>
