@{
    ViewData["Title"] = "Istorija";
}

    <div class=" banner-istorija rounded">
        
    </div>
    
    <h1 class="display-4 text-center  mt-5 mb-3 text-black-90 ">@ViewData["Title"]</h1>
    <img src="~/visuals/images-main/hystory-books.jpg" class="rounded-circle d-flex mb-3 mr-auto ml-auto " width="75" />
               

            <p class="text-justify">
                Pirmas sėkmingas žmogaus kraujo perpylimas buvo atliktas 1818 metais, bet dėl žinių ir mokslinių tyrimų trūkumo, sekė daug nesėkmių. Vėliau nei po 80 metų, buvo atrasta, kad paveldimi žmonių raudonųjų kraujo ląstelių skirtumai buvo pagrindinės daugelio kraujo perpylimo nesuderinamumo priežastys. Buvo nustatytos keturios kraujo grupės – A, B, AB ir 0. Šis atradimas iš pagrindų pakeitė hematologijos (mokslo apie kraują) vystymąsi ir leido sėkmingai atlikinėti kraujo perpylimus. Kai I Pasauliniame kare sužeistiems kareiviams ypatingai reikėjo kraujo, mokslininkai pradėjo tyrinėti kraujo saugojimo ir transportavimo galimybes. Bet tai buvo įgyvendinta tik II Pasaulinio karo metu. Nuo tada buvo žengiama į priekį vis sparčiau: atrandamos Rh kraujo grupės, kraujas pradedamas laikyti plastmasiniuose maišeliuose ir t. t. Kraujo ląstelių užšaldymas, skirtingų kraujo komponentų atskyrimas centrifūguojant, aferezė (vieno kraujo komponento išgavimas ir likusių gražinimas donorui) ir daugelis kitų atradimų bei techninių sprendimų įgalina visiškai panaudoti kiekvieną kraujo dovanojimą. Kiekvienas kraujo elementas gali būti panaudojamas gydyti skirtingas ligas. Šiandieną pasaulyje plintant ŽIV, hepatitui C ir kitoms užkrečiamoms ligoms, vyriausybė atidžiai kontroliuoja kraujo tikrinimo testų kokybę, kad užtikrintų kraujo saugumą ir sumažintų su perpylimu susijusią riziką. Papildomas kraujo saugumo garantas yra neatlygintina kraujo donorystė. Žmogaus kraujas yra unikalus. Iki šiol jam nėra sukurta dirbtinio pakaitalo. Lietuvoje per metus reikia tūkstančių litrų kraujo, kad būtų išgelbėti žmonės, sergantys įvairiomis ligomis ar papuolę į avarijas.
            </p>
    

