
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="row mr-0 ml-0 ">

        <partial name="~/Views/Dashboard/SideNav.cshtml" />

        <div class="col-10 ">
            <main role="main" class="pb-3 mt-5">
                <partial name="~/Views/Dashboard/Content/Index.cshtml"/>
            </main>
        </div>
    </div>