<div class="col-2 d-none d-block sidebar navbar-light bg-light navbar nav border-top border-right mt-5">
    <div class="sidebar-sticky ">
        <div class="row">
            <div class="col-2">
                @*ul's here*@
                <partial name="~/Views/Dashboard/Donor/NavList.cshtml"/>
            </div>
        </div>
    </div>
</div>
