
<ul class="nav flex-column mt-5">
    @*acordion link*@
    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collapseLink1" role="button" aria-expanded="false" aria-controls="collapseLink1">Link Togle</a>
    </li>
    <li class="nav-item">
        <ul class="collapse  " id="collapseLink1">
            <li class="nav-link ">
                Important
            </li>
        </ul>
    </li>
</ul>
<ul class="nav flex-column ">

    <li class="nav-item">
        <a href="#" class="nav-link ">Link2</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Link3</a>
    </li>
</ul>
