
<ul class="nav flex-column mySideNavUl">

    <li class="nav-item">
        <a asp-action="AddInstitution" asp-controller="Admin" class="nav-link ">Pridėti įstaigą</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Koreguoti įstaigą</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">trinti įstaigą</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Kraujo likučiai šalyje</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Nustatymai</a>
    </li>
</ul>
