
<ul class="mySideNavUl nav flex-column mt-5">
    @*acordion link*@
    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collapseLink1" role="button" aria-expanded="false" aria-controls="collapseLink1">Link Togle</a>
    </li>
    <li class="nav-item pb-0">
        <ul class="collapse mySideNavUl" id="collapseLink1">
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link1</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link2</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link3</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link4</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link5</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link ">Link6</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav flex-column mySideNavUl">

    <li class="nav-item">
        <a href="#" class="nav-link ">Pagrindinis</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Darbuotojų sąrašas</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Pridėti darbuotoją</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">registtruoti akciją </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link ">Nustatymai</a>
    </li>
</ul>