@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DonorDetailsViewModel
<h1 class="display-4 mb-5">P</h1>
<div class="row ml-0 mr-0">
    <div class="card col-8">
        <div class="card-body">

            @if (User.Identity.IsAuthenticated == true) { 
            <div>prisijungta </div>
                    }

            VYTO FORMA
            <form asp-action="Create" asp-controller="Donor"
                  class="d-flex flex-column form-group">
                <label>Vardas</label>
                <input asp-for=User.FName type="text" value="" />
                <label>Pavardė</label>
                <input asp-for=User.LName type="text" value="" />
                <div class="d-flex justify-content-center mt-5 mb-3 ">
                    <button class="btn btn-dark mr-3">Atšaukti</button>
                    <button type="submit" class="btn btn-danger">Patvirtinti</button>
                </div>
            </form>
        </div>
    </div>
</div>
