@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-mt-10">

    <div class="row justify-content-center">
        <div class="col-lg-7 mt-md-3">

            <form id="account" method="post" class="d-flex flex-column  align-items-center px-4 py-3 ">
                <div class="form-group">
                    <input asp-for="Email" placeholder="E-Paštas" class="form-control" required="required" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Slaptažodis" required="required" />
                </div>
                <div class"login" data-toggle="modal" data-target="#PassReminderModal">
                    <p class="text-muted text-center"> <a href="#" class="text-reset" id="reminderLink"> Pamiršote savo slaptažodį?</a></p>
                </div>
                <div class="text-center"><input type="submit" asp-controller="Account" asp-action="Login" class="btn btn-outline-danger px-1 py-2 mt-4 mb-1 pr-4 pl-4" value="Prisijungti"></div>
                <div class="form-footer px-1 py-1">
                    <div class="row text-center mt-1">
                        <div class="col font-italic">Neturite vartotojo?</div>
                    </div>
                    <div class="row text-center">
                        <a asp-controller="Account" asp-action="Register"> Užsiregistruokite</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
