
<div class="col-xl-2 col-lg-3 col-4 d-block sidebar navbar-light bg-light navbar nav  border-right my-pt-40">
    <div class="sidebar-sticky ">
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-4">

            @if (User.IsInRole("Admin"))
            {
                <partial name="~/Views/Account/NavLists/AdmNavList.cshtml" />
            }

            @if (User.IsInRole("Institution admin"))
            {
                <partial name="~/Views/Account/NavLists/ModNavList.cshtml" />
            }

            @if (User.IsInRole("Employee"))
            {
                <partial name="~/Views/Account/NavLists/EmpNavList.cshtml" />
            }

            @if (User.IsInRole("Donor"))
            {
                <partial name="~/Views/Account/NavLists/DonNavList.cshtml" />
            }

        </div>
    </div>
</div>
</div>

