@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h1 class="display-4 mb-5">Donoro Kortelė</h1>
    <div class="row ml-0 mr-0">
        <div class="card col-8">
            <div class="card-body">
                <form class="d-flex flex-column form-group">
                    <label>Vardas</label>
                    <input type="text" value="" />
                    <label>Pavardė</label>
                    <input type="text" value="" />
                    <label>Lytis</label>
                    <div class="form-check">
                        <label>vyras</label>
                        <input class="" type="radio" value="vyras" />
                        <label>moteris</label>
                        <input type="radio" value="moteris" />
                    </div>
                    <label>Svoris</label>
                    <input type="number" value="50" />
                    <label>Gim. Data</label>
                    <input type="date" value="" />
                    <label>Adresas</label>
                    <input type="text" value="" />
                    <label>Telefonas</label>
                    <input type="tel" value="" />
                    <div class="d-flex justify-content-center mt-5 mb-3 ">
                        <button class="btn btn-dark mr-3">Atšaukti</button>
                        <button class="btn btn-danger">Patvirtinti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
