
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class=" mb-4">
        <h1 class="display-4">Donor render body</h1>
    </div>
    
    @*patikrinti su "if" ar yra atlikta registracija
      greiciausiai cia turetu buti privalomas pop up*@ 
<p><a asp-area="" asp-controller="Donor" asp-action="DonorDetails">Prašome atlikti registracijos užbaigimą</a></p>

<p> <a href="#">Kvietimas registruotis donacijai</a></p>
<div class="row mr-0 ml-0 mb-5">
    <div class="col-xl-5 col-lg-6  text-center d-flex align-content-center pl-0">
        <img class="rounded img-fluid" src="~/visuals/Dashboard/donor-index.svg" alt="donation-image" />
    </div>
    <div class="col-xl-5 col-lg-6  align-self-center justify-content-start">
        <h5>Lorem ipsum</h5>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <button class="btn btn-danger rounded pl-2 pr-2 p-1">Pradėti Donuoti</button>
    </div>
</div>



