@model LoginViewModel
@if (User.Identity.IsAuthenticated != true)
{
    <li class="nav-item dropdown ml-md-auto ml-lg-auto ml-xl-auto mr-0 ">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle btn-danger btn-group-toggle text-white rounded apple-font" href="#">Prisijungti</a>
        <ul class="dropdown-menu form-wrapper dropdown-menu-right text-center apple-font">
            <li>
                <form id="login" method="post" class="d-flex flex-column  align-items-center px-4 py-3 ">
                    <div class="form-group">
                        <input asp-for="Email" placeholder="Vartotojo vardas" class="form-control" required="required" />
                    </div>
                    <div class="form-group  ">
                        <input asp-for="Password" class="form-control" placeholder="Vartotojo slaptažodis" required="required" />
                    </div>
                    <div class="text-center"><input type="submit" asp-controller="Account" asp-action="Login" class="btn btn-outline-danger px-1 py-2 mt-4 mb-1 pr-4 pl-4" value="Prisijungti"></div>
                    <div class="form-footer px-1 py-1">
                        <div class="row text-center mt-1">
                            <div class="col font-italic">Neturite vartotojo?</div>
                        </div>
                        <div class="row text-center">
                            <div id="login" class="col" data-toggle="modal" data-target="#registerModal"> <a href="#"> Užsiregistruokite</a></div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item dropdown ml-md-auto ml-lg-auto ml-xl-auto mr-0 ">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle btn-danger btn-group-toggle text-white rounded apple-font" href="#">@User.Identity.Name</a>
        <ul class="dropdown-menu form-wrapper dropdown-menu-right text-center apple-font">
            <li>
                <form id="account" method="post" class="d-flex flex-column  align-items-center px-4 py-3 ">
                    <div class="form-group">
                        <a class="nav-link text-secondary" asp-controller="Dashboard" asp-action="Index">Valdymo centras</a>
                    </div>
                    <div class="form-footer px-1 py-1">
                        <div class="row text-center mt-1">
                            <a class="nav-link text-secondary" asp-controller="Account" asp-action="Logout">Atsijungti</a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
}