<div class="modal fade" id="PassReminderModal" tabindex="-1" role="dialog" aria-labelledby="PassReminderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="navbar-brand logo" src="~/visuals/icons/blood-bank.svg">
                <h2>Slaptažodžio priminimas</h2>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action="" method="post" class="PassReminder-form ">
                    <div class="form-group">
                        <input type="text" name="form-first-name" placeholder="Jūsų elektroninis paštas" class="form-first-name form-control" required>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-outline-danger">Priminti</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
