@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

.logo {
    width: 5rem;
    height:5rem;
    margin-right: 0;
}

.logo-text {
    color: rgb(190, 32, 38);
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


@media (min-width:1199px ) {
    .container {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width:992px ) {
    .container {
        width: 90%;
        max-width: none;
        flex-wrap: wrap;
    }
}

@media (min-width:768px ) {
    .container {
        width: 100%;
        max-width: none;
        flex-wrap: wrap !important;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width:576px ) {
    .container {
        width: 100%;
        max-width: none;
    }
}

@media (min-width:1200px ) {
    .container {
        width: 70%;
        flex-wrap: wrap !important;
    }
}


.form-control {
    width:auto;
}
    .footer-icon {
    margin-left: 0.3rem;
}




.banner {
    background-image: url(/visuals/images-main/Blood-donation.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.80);
   
}


.banner-istorija {
    background-image:url(/visuals/images-main/person-blood-check-compressor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.80);
}


    .display-4 {
        font-size: 3rem !important;
    }

.text-black-90 {
    opacity: 0.9;
}

.card {
    background-color:rgba(224, 224, 224, 0.30);
}


.card-icon1 {
    background-image: url(/visuals/icons/iconfinder_clipboard-document-office-form-application_3209374.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

.card-icon2 {
    background-image: url(/visuals/icons/iconfinder_users-groups_511933.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

.card-icon3 {
    background-image: url(/visuals/icons/iconfinder_location-alt_126573.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

