@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.19);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(48, 48, 48);
}

.logo {
    width: 5rem;
    height:5rem;
    margin-right: 0;
}

.logo-text {
    color: rgb(216, 96, 91);
    line-height: 1rem;
    text-shadow: 1px 0px 0px rgba(81, 81, 81, 0.50);
}




.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.apple-font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-transform:capitalize;
    letter-spacing: 0.8px;
}

@media (min-width:1199px ) {
    .container {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width:992px ) {
    .container {
        width: 90%;
        max-width: none;
        flex-wrap: wrap;
    }
}

@media (min-width:768px ) {
    .container {
        width: 100%;
        max-width: none;
        flex-wrap: wrap !important;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

    

@media (min-width:576px ) {
    .container {
        width: 100%;
        max-width: none;
    }
}

@media (min-width:1200px ) {
    .container {
        width: 70%;
        flex-wrap: wrap !important;
    }
}


.form-control {
    width:auto;
}
    .footer-icon {
    margin-left: 0.3rem;
}


.banner-gradient {
    background: radial-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1))
}

.banner {
    background-image: url('/visuals/images-main/Kraujo Banko Baneris-05.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    
   
}

.banner h1 {
    color:#ed6863;
}

.banner button {
    margin-bottom: 20px;
}


    .display-4 {
        font-size: 3rem !important;
    }

.text-black-90 {
    color: rgb(48, 48, 48);
}

.card {
    background-color:rgb(246, 246, 246);
}


.card-icon1 {
    background-image: url(/visuals/icons/iconfinder_clipboard-document-office-form-application_3209374.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

.card-icon2 {
    background-image: url(/visuals/icons/iconfinder_users-groups_511933.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

.card-icon3 {
    background-image: url(/visuals/icons/iconfinder_location-alt_126573.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

/*carousel*/

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

@keyframes mySlidesSmooth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} 

/* Slides */
.mySlides {
    display: none;
    padding: 0px 80px 20px;
    text-align: center;
    animation: mySlidesSmooth 0.5s ease-in;

}




/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    /* Add a background color to the active dot/circle */
    .active, .dot:hover {
        background-color: rgb(174, 174, 174);
    }

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: #ed6863;
}

