


.logo {
    color: #212529;
    font-size: 2rem;
    margin-top: 0.5rem;
}

    .logo:hover {
        color: rgb(190, 32, 38);
    }

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 18px;
}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}

.container {
    width: 70%;
}

@media (max-width:769px ) {
    .container {
        width: 98%;
    }
}

.footer-icon {
    margin-left: 0.3rem;
}

.banner {
    background-image: url(/visuals/images-main/Blood-donation.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.80);
}





    .display-4 {
        font-size: 3rem !important;
    }

.text-black-90 {
    opacity: 0.9;
}

