@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Jūsų Įstaigos darbuotojai,užregistruoti sistemoje</h1>

<p>
    <a asp-action="Create">Pridėti naują darbuotoją</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Darbuotojo Id 
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)*@
        {
            <tr>
                <td>
                   @* @Html.DisplayFor(modelItem => item.EmployeeId)*@
                </td>
                
            </tr>
        }
    </tbody>
</table>
